@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root{
    --header-height: 3.5rem;

/* ===========COLORS========= */
    --body-color: #fff;
    --text-color: #000;
    --color_primary: rgb(52, 214, 12);
    --color_primary-dark: rgb(43, 184, 8);
    --color_primary-light: rgb(58, 255, 8);

    /*========= FONTS =========  */

    --body-font: 'Roboto', sans-serif;
    --max-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .9rem;
    --small-font-size: .8rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .63rem;

    /* ========== FONT WEIGHT ============ */
    --font-medium: 500;
    --font-semibold: 600;

    /* =========== RESPONSIVE =========== */
    --max-font-size: 2.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .9rem;
    --smaller-font-size: .8rem;
}

/* ========== SETTING THE BOX MODEL TO DEFAULT */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body, 
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

ul { 
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}   

.logo_btn-container {
    height: var(--header-height);
    /* margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 10rem;
    margin-right: 10rem; */
    margin: 1.6rem 15rem;
    display: flex;
    justify-content: space-between;
}

.hero_logo {
    color: var(--color_primary);
    font-weight: var(--font-primary);
    transition: .4s;
    font-size: var(--h2-font-size)
}

.hero-logo:hover {
    color: var(--color_primary-light);
}

.toggle-items {
    width: 120%;
    display: flex;
    /* justify-content: space-between; */
}
/* 
.toggle_btn-container {
    width: auto;
    height: auto;
} */

/* ========== THEME TOGGLE BUTTON =========== */

.toggle_list-item_btn {
    position: relative;
}

.toggle-btn{
    position: relative;
    width: 2.75rem;
    height: 1.5rem;
    border: .15rem solid var(--color_primary);
    background-color: #fff;
    /* color: var(--color_primary); */
    border-radius: 1rem;
    margin-right: .2rem;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.inner-circle {
    position: absolute;
    width: 1rem;
    height: 1rem;
    margin-top: -1.2rem;
    margin-left: .3rem;
    border: .15rem solid var(--color_primary);
    border-radius: 1rem;
    transition: .3s all ease-in-out;
    cursor: pointer;
}

.toggle-btn.active {
    background-color: var(--color_primary);
}

.inner-circle.active {
    margin-left: 1.5rem;
    background-color: var(--color_primary);
    border: .15rem solid #fff;
    background-color: #fff;
}

/* ========= TOGGLE-ICON ========== */

.toggle_list-item_icon {
    color: var(--color_primary);
    font-size: 1.5rem;
}

.toggle-icon {
    transition: .3 all ease-in-out;
}

/* ========== HERO SECTION STYLING =========== */

.section {
    width: 80rem;
    height: 80vh;
    margin: auto;
}

.hero-section {
    position: relative;
    width: 70rem;
    height: 80vh;
}

.hero-section-cont {
    position: relative;
    display: flex;
    /* width: 100%; */
    justify-content: space-between;
}

/* ======= HERO SECTION TEXT STYLING ======== */

.hero-section-text_cont {
    position: absolute;
    top: 10rem;
}

.hero-sectionn-img {
    position: absolute;
    right: 4rem;
    top: 12rem;
}


.hero-section-text_cont h1{
    color: #fff;
    text-transform: capitalize;
    background: linear-gradient(-45deg, var(--color_primary), var(--color_primary-dark), var(--color_primary-light));
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 3px transparent;
}